#gameOver{
  background-image: url("../images/avadakedavra.gif");
  background-size: cover;
  background-repeat: no-repeat;
}
#playerWon{
  background-image: url("../images/dobbyfree.gif");
  background-size: cover;
  background-repeat: no-repeat;
}
.playAgainBtn{
  font-family: 'Creepster', cursive;
  background-color: #2fff4b;
  font-size: 5vw;
  border-radius: 20px;
  border-width: 3px;
  display: block;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
body {
  font-family: 'Creepster', cursive;
  margin:0;
  padding: 0;
  background-color: black;
}
.headerContainer{
  display: grid;
  grid-template-areas:
  'left . center . right'
}
#score {
  color: #2fff4b;
  font-size: 15vh;
  font-weight: bolder;
  text-align: center;
  display: inline-block;
  grid-area: left;
}
#instructions{
  color: red;
  margin-top: 50px;
  margin: 10px 0;
  text-align: center;
  font-size: xx-large;
  display: inline-block;
  grid-area: center;
}

.grid{
  /* display: grid;
  grid-template-columns: '.1fr.' ;
  grid-template-rows: 1fr 1fr;
  margin-top:0;
  margin-bottom: 0; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top:0;
  margin-bottom: 0;
}
#bgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 350px); 
  margin: 0;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
#backgroundImg{
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  height: 100%;
  width: 100%;
}
#gameBoard {
  /* width: 25vw;
  height: 25vh;
  margin: 5px auto;
  border-collapse: separate;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1; */
  width: 25vw;
  height: 25vh;
  margin: 5px auto;
  border-collapse: separate;
  margin-right: 10px;
}

#gameBoard td,
#gameBoard tr {
  background-color: #2fff4b;
  font-size: 20px;
  text-align: center;
  border-width: 3px;
}
#gameBoard td {
  width: 15px;
  height: 15px;
}

button {
  font-family: 'Creepster', cursive;
  background-color: #2fff4b;
  border-radius: 20px;
  border: none;
  color: black;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow 0.15s;
}

.buttonContainer {
  margin-top: 5px;
  margin: 10px auto;
  display: grid;
  grid-template-areas:
  '. up .'
  'left . right'
  '. down .';
  grid-gap: 5px;
}

#upButton {
  grid-area: up;
}

#downButton {
  grid-area: down;
}

#leftButton {
  grid-area: left;
}

#rightButton {
  grid-area: right;
}

button:hover {
  box-shadow: 5px 5px 10px red;
}